Program 1 -- Total Passed And Failed Candidates

In [3]:
marks =  (25,67,98,54,78,99,53,21,97,82,76)
passing_marks = 30 #passing marks condition
students_passed = 0
students_failed = 0
for i in marks: #for to get into each value of tuple we have to use for loop to enter into each value
    if i>= passing_marks:
        students_passed = students_passed + 1 #on every condition true passing students got increased by 1
        
    elif i<passing_marks:
        students_failed = students_failed + 1
       
print("Total number of candidates passed are {}".format(students_passed))
print("Total number of candidates failed are {}".format(students_failed))

Total number of candidates passed are 9
Total number of candidates failed are 2

Program 2 -- Total Purchase amount with make adjustment in values of tuple

In [35]:
Purchase = (2,3,4,6,2,7,8,2,10,5,2,8,10)
# we have to first make change in value 2 to 3.5 in tuple wherever it apperas
#first loop is for converting the value of 2 to 3.5
for i in Purchase:
    if i == 2:
        Purchase = list(Purchase) #as tuples are not changeable so we first convert the tuple into list
        
        index_number = Purchase.index(i) #second--- we have to find the index number for every 2 appearing in our list
        Purchase[index_number] = str(Purchase[index_number]) # third---- we convert the data type of only 2 into string for better replacement
        #fourth--- we use string method replace to make a change every time it loops and make a change for 2 to 3.5
        Purchase[index_number]= Purchase[index_number].replace("2","3.5")
        #fifth-- then again back to original data type for that 3.5 value as it is in decimal so we need to cast in float data type
        Purchase[index_number]= float(Purchase[index_number]) 
        #remember one thing float data type is only for 3.5 value not other values
        #Sixth--- converting whole list back to tuple
Purchase = tuple(Purchase)
print(Purchase)        
#second loop --- to calculate the total purchase amount now
total_amount = 0
for i in Purchase:
    total_amount = total_amount + i 
    
print("Corrected Total After Adjusting 2 to 3.5 is {}".format(total_amount))

(3.5, 3, 4, 6, 3.5, 7, 8, 3.5, 10, 5, 3.5, 8, 10)
Corrected Total After Adjusting 2 to 3.5 is 75.0

Program 3-- Calculating Percentage of people recommending your product

In [43]:
survey_result = ['yes','no','no','yes','yes','no','no','yes','no']
#on behalf of this survey we have to calculate % of people for yes and % of people for no recommending
yes_count = 0 #number of counts for yes value in our list
no_count = 0 #same above case just for no now
total_count = 0 #total number of people who participate
for i in survey_result:
    total_count = total_count + 1 
    if i.lower()=="yes":
        yes_count = yes_count + 1
    elif i.lower() == "no":
        no_count = no_count + 1
        
yes_percentage = (yes_count*100)//total_count #% of people who says yes in the list calculating through yes number of counts
no_percentage = (no_count*100)//total_count #same above case just for no
print("Total number of people participate in this survey are {}".format(total_count))
print("People who recommend our products are {}%".format(yes_percentage))
print("People who do not recommend our products are {}%".format(no_percentage))

Total number of people participate in this survey are 9
People who recommend our products are 44%
People who do not recommend our products are 55%

Program 4--- Retreiving and appending the data

In [50]:
#we have to got some particular elements from each value of list and append it into new list
country = ['India','Nepal','London','Moscos',"Paris",'Berlin']
index_number = 0 #we have to loop each value so we need index_number so we already created variable outside loop with 0 value provided
empty_list = [] #list where new values are going to enter
for i in country:
     empty_list.append(country[index_number][0:2]) #taking only first 2 characters of each value in list and append it into the new list
     index_number = index_number + 1 #increment of number by 1 so that it works for each item but remember done this only at the end 

print(empty_list)

['In', 'Ne', 'Lo', 'Mo', 'Pa', 'Be']

Program 5 -- Adding names in the new list

In [52]:
names = ["Maya","Luca","Stephan","Jace","Mila","Stevan","James"]
empty_list = []
index_number = 0
for i in names:
    if len(i)>4:#if the length of the characters in each value is greater than 4 then perform this
        empty_list.append(names[index_number][:4]) #add only first 4 characters into new empty list
    elif len(i)<=4:
        empty_list.append(names[index_number])#otherwise if less than 4 then add whole value
    index_number = index_number + 1
print(empty_list)

['Maya', 'Luca', 'Step', 'Jace', 'Mila', 'Stev', 'Jame']

In [1]:
names = ["Maya","Luca","Stephan","Jace","Mila","Stevan","James"]
empty_list = []
index_number = 0
for i in names:
    if len(i)>4:#if the length of the characters in each value is greater than 4 then perform this
        empty_list.append(names[:4]) #add only first 4 characters into new empty list
    
print(empty_list)

[['Maya', 'Luca', 'Stephan', 'Jace'], ['Maya', 'Luca', 'Stephan', 'Jace'], ['Maya', 'Luca', 'Stephan', 'Jace']]

Program 6 -- Seperating the first and last name in the list

In [61]:
names = ["Tailor smith","Indiana jones","Jeetha babu","Dinesh kumar","James williams"]
#target is to seperate the first and last name store it in new list of there respective list name
first_name = []
last_name = []
index_value = 0
for i in names:
    new_names= names[index_value].split(" ") #as there is space between first and last so we can split the values through space in 2 more values
    first_name.append(new_names[0])#append the value with index number 0 as first name is there
    last_name.append(new_names[1])#append the value with index number 1 as last name is there
    index_value = index_value + 1
print("First Name list is {}".format(first_name))
print("Last Name list is {}".format(last_name))

First Name list is ['Tailor', 'Indiana', 'Jeetha', 'Dinesh', 'James']
Last Name list is ['smith', 'jones', 'babu', 'kumar', 'williams']

Program 7--- Adding Name and age individually

In [70]:
person_1 = ["aditya",7]

person_2= ["akshara",5]

person_3 = ["vanthana",35]

person_4 = ['Dinesh',37]

Final_list = [person_1 , person_2, person_3,person_4]


name_list = []

age_list = []

index_value = 0

for x in Final_list:
    name_list.append(Final_list[index_value][0])#taking only name or first value of list with index number 0
    age_list.append(Final_list[index_value][1]) #taking only age or second value of list with index number 1
    index_value = index_value + 1
print("Name list : {}".format(name_list))
print("Age list : {}".format(age_list))

Name list : ['aditya', 'akshara', 'vanthana', 'Dinesh']
Age list : [7, 5, 35, 37]