In [1]:
list = [1,2,3,4,5,6,7,8,9]

i = 1

4
6
8
10

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [4]:
a = 'python'
i = 0
  
while i < len(a): 
    i += 1
    pass
    
print('Value of i :', i)

Value of i : 6

In [6]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

# sets

A set is a collection which is unordered, unchangeable*, and unindexed.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [17]:
my_set = {'apple','banana','cherry'}

In [12]:
type(my_set)

set

In [13]:
my_set [1]

TypeError: 'set' object is not subscriptable

In [15]:
# list is indexed but set is not indexed

my_set = ['apple','banana','cherry']

my_set[1]

'banana'

In [18]:
my_set

{'apple', 'banana', 'cherry'}

In [37]:
thisset = {"apple", "banana", "cherry", "apple"}

 # duplicate will be considered as one element
print(thisset)

{'banana', 'apple', 'cherry'}

In [21]:
this_set = {1,2,3,5,6,2,3,4,5,7}

In [22]:
print(this_set)

{1, 2, 3, 4, 5, 6, 7}

# Set Items - Data Types
Set items can be of any data type:

In [25]:
set_num ={1,2,3,4,5}
set_items ={1,'apple',True}

In [38]:
# both tuple and set are unchanged but in set you can add or delete

In [26]:
tup =(1,2,3,4)

In [27]:
tup[0]= 5

TypeError: 'tuple' object does not support item assignment

# Two methods for adding the elements

1. add()
2. update()

In [42]:
set_change ={1,2,3,4}

set_change.add(6)

In [43]:
set_change # remember set is not indexed, doesnt matter where ever you add this

{1, 2, 3, 4, 6}

In [47]:
set_str = {'a','b','c'}
set_str.add('d')

In [48]:
set_str

{'a', 'b', 'c', 'd'}

In [53]:
set_str = {'a','b','c'}
set_add = {"d",'e'}

set_str.add(set_add)

# if you want to combine two sets then use update method

TypeError: unhashable type: 'set'

In [46]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'papaya', 'mango', 'banana', 'cherry'}

# TWo methods for remving items in sets
    
1. discard (If you try to discard an unknown element error will not be thrown)
2. Remove (if u try to discard an unknown element error will be thrown)

In [34]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("blackcurrent")

print(thisset)

{'banana', 'apple', 'cherry'}

In [35]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("blackcurrent")

print(thisset)

KeyError: 'blackcurrent'

# Joining of sets

In [55]:
set1 = {"a", "b", "c",'d'}
set2 = {1, 2, 3}
set3 = {"John", "Elena","d"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'d', 1, 'a', 2, 3, 'John', 'b', 'apple', 'bananas', 'c', 'Elena', 'cherry'}

# Dictionaries

Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [57]:
mydict ={ "name": "vanthana",
           'age':36,
            "year": 1988}

In [58]:
mydict

{'name': 'vanthana', 'age': 36, 'year': 1988}

In [59]:
type(mydict)

dict

Duplicate not allowed

In [61]:
mydict ={ "name": "vanthana",
           'age':36,
            "year": 1988,
            "year": 1989}

In [62]:
mydict

{'name': 'vanthana', 'age': 36, 'year': 1989}

In [64]:
len(mydict)

3

In [66]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

In [67]:
dict_1

{'name': 'vanthana', 'age': 36, 'year': 1988, 'edu': ['B.tech', 'MBA']}

# Accessing Items

In [68]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

print(dict_1["name"])

vanthana

In [75]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

edu = dict_1['edu']

In [76]:
edu

['B.tech', 'MBA']

In [77]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

for x in  dict_1['edu']:
    print(x)

B.tech
MBA

In [79]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

print(dict_1.keys())

dict_keys(['name', 'age', 'year', 'edu'])

In [80]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

print(dict_1.items())

dict_items([('name', 'vanthana'), ('age', 36), ('year', 1988), ('edu', ['B.tech', 'MBA'])])

In [81]:
dict_1 = {"name":"vanthana",
           'age':36,
            "year": 1988,
            "edu": ["B.tech","MBA"]}

print(dict_1.values())

dict_values(['vanthana', 36, 1988, ['B.tech', 'MBA']])

In [84]:
for x in dict_1.keys():
    print (x)

name
age
year
edu

In [85]:
for x in dict_1.values():
    print (x)

vanthana
36
1988
['B.tech', 'MBA']

In [87]:
for x,y in dict_1.items():
    print (x,y)

name vanthana
age 36
year 1988
edu ['B.tech', 'MBA']

In [1]:
dict_2 = {"vanthana": 35,
         "Dinesh":37,
         "Akshara":5,
         "Aditya":8}

In [10]:
name = []
age = []

for x,y in dict_2.items():
    x = "name_"+ x
    y = "age_"+ str(y)
    name.append(x)
    age.append(y)

In [6]:
name

['name_vanthana', 'name_Dinesh', 'name_Akshara', 'name_Aditya']

# ****** Important to know ######   List_comprehension

In [20]:
list =[1,2,3,4,5]
add_list = []      
for x in list:
    x = x+1
    add_list.append(x)

In [21]:
add_list

[2, 3, 4, 5, 6]

In [11]:
list =[1,2,3,4,5]

add_list = [x+1 for x in list]

In [12]:
add_list

[2, 3, 4, 5, 6]

In [24]:
list_1 = [1,2,3,4,5,6]

list_2 =[]
for x in list_1:
    x = x+1
    list_2.append(x)

In [25]:
list_2

[2, 3, 4, 5, 6, 7]

In [ ]:
list_1 = [1,2,3,4,5,6]

sum_x = 0 #(1+2+3...)

for x in list_1:
    sum_x = x+sum_x

In [27]:
list_list = [[1,2,4],[4,5,6],[4,5,6]]

1
2
4
4
5
6
4
5
6