Pandas Explaination--- Library which through we can do data manipulaion, data inspection, data cleaning, visualization,summary,
data pivot table and so on

In [1]:
import pandas as pd

In [6]:
employees_data = {"name":["John","Peter","Lisa",],
                 "age":[30,31,34],
                 "salary":[40000,50000,25000]} #this is dictionary data type with values in list format
dframe = pd.DataFrame(employees_data) #remember one thing in this type of data all the values list elements should be equal length
print(dframe)

    name  age  salary
0   John   30   40000
1  Peter   31   50000
2   Lisa   34   25000